/* ------------------------------------------
   Index:
   Styles of the index page.
------------------------------------------ */
.page-index-layout
{
	max-width: 50rem;
}
.page-index-header
{
	display:flex;
	align-items: center;
	flex-direction: row;
    margin-bottom:1.5rem;
	color:rgb(60,60,60);
}
.page-index-title
{
	font-size:2.8rem;
}
.page-index-pagenbr
{
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}
.page-index-pagenbr.visible
{
	visibility: visible;
	opacity: 1;
}

.view-density
{
	margin-left:auto;
	font-size:0.7em;
	
	flex-direction: row;
	flex-wrap:wrap;
}
.view-density label
{
	display:block;
	text-align:center;
	margin:0.5em 0em;
	font-weight:bold;
}


.posts
{
	margin-top:   1.5rem;
	margin-bottom:1.5rem;
}