/* ------------------------------------------ */
.post
{
	padding-bottom:1em;
}
/* ------------------------------------------ */
.post-header
{
	padding-bottom: 1em;
	border-bottom: 1px dotted rgb(200,200,200);	
}
.post-ispreview 
.post-header
{
	padding-bottom: 0.5em;
	border-bottom: none;
}
/* ------------------------------------------ */
.page-post 
.post-footer
{
	content:"";
	height: 50vh;
	width:100%;
}
/* ------------------------------------------ */
.post-title
{
	font-size:2.8em;
	margin:0.2em 0;
}
.post-title a
{
	border-bottom: 2px solid rgba(46, 97, 162, 0.0);
	transition: transform 0.2s,
				border-color 0.1s;
	outline:0;
}
.post-title a:hover, 
.post-title a:focus
{
	border-color: #abc0da;
}

.post-ispreview .post-title
{
	font-size:2em;
	color:#2E61A2;
	display:inline-block;
}
/* ------------------------------------------ */
.post-date,
.post-tag
{
	display:inline-block;
    font-size:0.8em;
	margin-bottom:0.4em;
	padding:0.1em 0.5em;
	margin-right:0.4em;

	background-color:#FFDC5C;
	background-color: rgba(46, 97, 162, 0.05);
	border-radius:0.2em;
	border: 2px solid transparent;

	color: rgba(99, 122, 145, 0.6);
	font-weight:bold;
}
.post-date-day
{
	white-space:nowrap;
}
.post-tag
{
	font-weight:bold;
	/*color:white;*/
	color: rgba(46, 97, 162, 0.8);

	/*background-color:rgba(46, 97, 162, 0.5);
	text-shadow:0.1em 0.1em 0.2em rgba(46, 97, 162, 1);*/
	
	/*background-color: rgba(95, 207, 128, 0.8);*/
	/*text-shadow:0.2em 0.2em 0.2em rgba(95, 207, 128, 1);*/
	
	/*background-color: rgba(99, 122, 145, 0.5);
	text-shadow:0.1em 0.1em 0.1em #637a91;*/

	/*background-color: rgba(91, 155, 213, 0.5);*/
	/*text-shadow: 0.1em 0.1em 0.1em #5b9bd5;*/

	/*background-color: rgba(0, 120, 215, 0.5);*/
	/*text-shadow: 0.1em 0.1em 0.2em #0078d7;	*/

	/*background-color:rgba(224, 116, 44, 0.5);
	text-shadow: 0.1em 0.1em 0.4em #e0742c;	*/
}

.post-ispreview .post-date
{
	font-size:0.8em;
}
/* ------------------------------------------ */
.post-content
{
	font-size:1em;
	max-width: 45em;
	margin-top:2em;
	color:rgb(70,70,70);
}
/* ------------------------------------------ */
/* Important, otherwise post content (as a flex item) wont shrink */
.post-content img 
{
	max-width:100%;
}

/* ------------------------------------------ */
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6
{
	position:relative;
	margin-top:1.5em;
	margin-bottom:0.8em;
	color:rgb(30,30,50);
}

.post-content h1 { font-size:2.5em; }
.post-content h2 { font-size:2.2em; }
.post-content h3 { font-size:1.8em; }
.post-content h4 { font-size:1.5em; }
.post-content h5 { font-size:1.2em; }
.post-content h6 { font-size:1.0em; }
/* ------------------------------------------ */
.post-content > p
{
	/* Taken from Hanselman's blog */
	font-size:95%;
	color: #333;
	line-height:1.4em;
	margin-top:1.5em;
	margin-bottom:1.5em;
}
/* ------------------------------------------ */
.post-content > ul,
.post-content > ol
{
	margin-top:1em;
	margin-bottom:2em;
}

.post-content ul,
.post-content ol
{
	font-size:95%;
}

.post-content ul {list-style: disc;}
.post-content ul ul {list-style: circle;}
.post-content ul ul ul {list-style: disc;}
.post-content ul ul {list-style: circle;}
.post-content ul ul ul ul {list-style: square;}
.post-content ol {list-style: decimal;}

.post-content ul p ,
.post-content ol p
{
	margin:0;
} 

.post-content ul li ,
.post-content ol li 
{
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-right:0;
	margin-left: 1.7em;
}
/* ------------------------------------------ */
.post-content em
{
	font-style:italic;
}

.post-content strong
{
	font-weight:bold;
}

.post-content sup
{
	vertical-align: super;
    font-size: smaller;
}

.post-content a
{
	color:#2E61A2;
	font-weight: bold;
}

.post-content blockquote
{
	border-left:0.2em solid orange;
	padding:0.2em;
	padding-left:1em;
	margin:1em 0em;
}

.post-content pre
{
	overflow-x: scroll;
	background-color: #f5f2f0;
	padding:1em;
}
.post-content code
{
	font-family:"Consolas";
	display:inline-block;
	padding:0.2em 0.4em;
	margin:0.0em;
	font-size:0.8em;
	background-color: #f5f2f0;
	color:#00978e;/* cyan:00978e oj:e66e33 green:309c40 taken from dev.moz*/
	border-radius: 5px;
}

.post-summary
{
	color:rgb(70,70,70);
}

.post-summary-more
{
	font-weight: bold;
	color:#2E61A2;
}


.post-footer, 
.post-footer *
{
    margin:0.4em 0em;
    margin-right: 0.2em;
}

.post-actions a
{
	border:1px solid #2E61A2;
	color:#2E61A2;
	
	font-size:0.7em;

	padding:0.2em 0.8em;
	text-align: center;
	outline:none;
}

.post-actions a:hover,
.post-actions a:focus
{
	background-color: #2E61A2;
	color:white;
}

.post-actions a:active		
{
	opacity: 0.8;
}
