.site-header-social
{
    margin-left:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.social-img
{
    width:1rem;
    position:absolute;
    left:50%;
    top:50%;
    transform: 
        translateY(-50%)
        translateX(-50%);
}

.social-link
{
    position:relative;
    display:inline-block;
    background-color:rgba(255,255,255,0.0);
    height:2rem;
    width:2rem;
    border-radius: 1rem;
    transition: all 0.2s ease-out;
}

.social-link:hover
{
    background-color:rgba(255,255,255,0.2);
}

.site-header-social a
{
    display:flex;
}